<div class="title-box">
  Bicycles Benefit Boston
</div>

<script src="http://maps.googleapis.com/maps/api/js?<%= ENV['GOOGLE_MAPS_KEY']%>"></script>

<div class="panel" id="map"></div>

   <div class="submit-issue-div">
     <%= button_to "Submit new issue", new_issue_path, method: :get, class: "submit-issue" %>
   </div>

<div class="issue-list-title">Issue List</div>

<br>

 <% @issues.each do |issue| %>
 <div class="row">
   <div class="small-9 large-12 columns">
     <article class="event">

         <div class="event-date">
           <p class="event-month"> <%= issue.created_at.strftime("%m/%d") %>  </p>
           <p class="event-day"> <%= issue.created_at.strftime("%I:%M %p") %></p>
         </div>

         <div class="event-desc">
           <p class="event-desc-header"><%= link_to issue.headline, issue_path(issue) %></p>
         </div>

       </article>

       <hr>
   </div>
 </div>
 <% end %>
