<div class="new-issue-page">
  <h4 class="title-issue-form">What's wrong with the bicycle?</h4>

  <%= form_for @issue do |f| %>

      <%= f.label "headline", class: "issue-form-labels" %><br>
      <div class="issue-form-headline">
        <%= f.text_field :headline %>
      </div>

      <%= f.label "description", class: "issue-form-labels" %><br>
      <div class="issue-form-description">
        <%= f.text_field :description %>
      </div>

      <%= f.submit "Add Issue", class: "submit" %>
  <% end %>
</div>

<div id="out"></div>
